doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    style
      include ../node_modules/bootstrap/dist/css/bootstrap.min.css
    block head
  body
    block content
